<a href="https://colab.research.google.com/github/FarahKhankishiyeva13/University/blob/main/Copy_of_Copy_of_Copy_of_Copy_of_Copy_of_Copy_of_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'.Your age is '+age)

What is your name? Farah
What is your age? 20
Your name is Farah.Your age is 20

In [6]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if(a!=b):
  print("not equal")
else:
    print('equal')

not equal

In [7]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if(a>b):
   print ("a is greater than b")

elif(a==b):
  print ("a and b are equal")

else:
  print ("a is less than b")

a is less than b

In [8]:
#Q4- Using for loop, print 1,2,3,4,5

for k in range(1,6):
  print(k)

1
2
3
4
5

In [9]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while(i>0):
  print(i)
  i=i-1

5
4
3
2
1

In [15]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for i in range(10,-1,-2):
  if(i!=8):
    print(i)

10
6
4
2
0

In [10]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(x):
 import datetime
 year = datetime.datetime.today().year
 return  year - x
print(age(1944))

78

In [11]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.

class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y 
  def multiplication(x,y):
    return x*y 
  def division(x,y):
    return x/y 
    
print(arithmetic.addition(3,2))
print(arithmetic.substraction(3,2))
print(arithmetic.multiplication(3,2))
print(arithmetic.division(3,2))

5
1
6
1.5

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

n=int(input("Enter n: "))
sum=0 
for i in range(1,n+1): 
    sum=sum+i  
print(sum)

Enter n: 3
6

In [12]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 

import random
randomlist=[] 
for i in range(10): 
    randomlist.append(random.uniform(0,1)) 
print(randomlist) 
print(randomlist[0],randomlist[1],randomlist[2])

[0.7476583567658911, 0.5132480218117527, 0.621720839347982, 0.39241939380599833, 0.934527546550033, 0.014099939556382779, 0.07627250764288784, 0.9793954664302068, 0.2147147479472461, 0.8429900751464859]
0.7476583567658911 0.5132480218117527 0.621720839347982

In [13]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

n=int(input("Enter n: ")) 
for i in range(1,n+1):
    if(i%3==0):           
        print(i)

Enter n: 15
3
6
9
12
15